.widget-title i {
    float: right;
    font-size: 18px;
    opacity: 1;
    color: #D3E428;
    padding-top: 10px;
}

.widget-title button {
    right: 15px;
    position: absolute;
}


.rc-slider-rail {
    background-color:#ccc !important;
}

.rc-slider-track {
    background-color: #D3E428 !important;
}

.rc-slider-handle {
    border: solid 2px #D3E428 !important;
}