.pagination {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    list-style: none;
    outline: none;
  }
  .pagination > .active > a{
    background-color: #D3E428 ;
    border-color: #D3E428 ;
    color: #fff;
  }
  .pagination > li > a{
    border: 1px solid #D3E428;
    padding: 10px 20px;
    outline: none;
    cursor: pointer;
    margin: 0 2px;
  }
  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: #D3E428 ;
    border-color: #D3E428;
    outline: none ;
  }
  .pagination > li > a, .pagination > li > span{
    color: #000;
  }
  .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: unset
  }