﻿.scrolls {
    background-color: #D3E428;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    border: none;
    color:#fff;
    z-index: 2000;
}

.scrolls:hover {
    opacity: 1
}