.carousel-with-custom-dots {
  padding-bottom: 65px;
}
.custom-dot {
  border-radius: 3px;
  background-color: #e9ecef;
  margin: 0px 10px 10px;
  outline: none;
}
.custom-dot--active {
  transform: scale(1.3);
  outline: auto;
  padding: 0px 5px;
  border: 1.5px solid #9e9e9e9e;
}