.center-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
}

  .lds-ring div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 51px;
      height: 51px;
      border: 5px solid #fff;
      border-radius: 50%;
      animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: #D3E428 transparent transparent transparent;
  }

      .lds-ring div:nth-child(1) {
          animation-delay: -0.45s;
      }

      .lds-ring div:nth-child(2) {
          animation-delay: -0.3s;
      }

      .lds-ring div:nth-child(3) {
          animation-delay: -0.15s;
      }

      .lds-ring div:nth-child(4) {
          animation-delay: -0.45s;
      }

@keyframes lds-ring {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}
