.signreg {

    padding-left: 15px;
    padding-right: 15px;
    font: 14px 'Montserrat';
    font-weight: 700;
    text-transform: uppercase;
    color: #999;
}

.float-signin {
    float: right;
    font: 14px 'Montserrat';
    font-weight: 700;
    color:black;
    text-transform: uppercase;
    border-bottom: 3px solid #D3E428;
    padding-bottom: 10px;
    width: 80px;

}