select {
    width: 90%; height: 45px; padding-left: 10px; border-radius: 8px; border: 2px solid grey; font-family: 'Montserrat'; font-weight: 500;
}

.tabContainer{
    margin: 40px;
}
.carousel-img{
    width: 235px;
    border: 1px solid #D3E428;
    padding: 40px;
    background-color: #fff;
}